@charset "utf-8";

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {

}

header {
	display: block;
	background-color: orange;
}

nav {
	display: block;
	position: relative;
	width: 100%;
	height: 75px;
	padding: 10px 20px;
	line-height: 50%;
	background-color: lightblue;

}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
}

nav ul li {
	display: inline-block;
}

.wrapper {
	display: flex;
	padding: 10px 0px;
	background-color: pink;
	flex-wrap: wrap;
	flex-direction:row;
}

.quad {
	flex-basis: 0;
	flex-grow: 6;

	min-width: 50%;
	padding: 20px;
	border: 1px solid red;

}
